<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sharped.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sharped.Controls.Properties.Settings>
            <setting name="CompilerPath" serializeAs="String">
                <value>C:\\Windows\\Microsoft.NET\\Framework\\v3.5\\Csc.exe</value>
            </setting>
            <setting name="CompilerOptions" serializeAs="String">
                <value>/r:System.dll</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">  
                <value>{SourceFile}.exe</value>
            </setting>
        </Sharped.Controls.Properties.Settings>
    </userSettings>
</configuration>